html,
body {
	width: 100%;
	background-color: white;
	color: black;
	margin: 0;
	padding: 0;
	/* font-family: "Segoe UI", Tahoma, sans-serif; */
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

th {
	font-size: 95% !important;
}

td {
	font-size: 85% !important;
}

#content {
	width: 80%;
	margin: auto;
}

#p1 {
	margin-top: 30px;
	font-weight: bold;
	border-bottom: 1px solid darkorange;
	padding: 4px;
}

#bookmarks {
	height: 75%;
}

#ul2 {
	list-style-type: none;
}

.o-hidden {
	display: none;
}

.empty-input {
	color: lightgray;
}

.empty-input:focus {
	color: black;
}

#new-email {
	content: "anything"
}

.p-grid {
	display: grid;
}

.decrypt {
	display: none;
}

#message {
	margin-left: 10px;
	color: red;
	font-weight: bold;
}

#bookmarklist {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: 5px;
}

tr:hover {
	background-color: lightgray !important;
}

th:nth-child(1) {
	border-right-color: white;
}

th:nth-child(2),
td:nth-child(2) {
	text-align: center;
	width: 30%;
}

th {
	/* background-color: lightblue; */
	background-color: black;
	color: white;
}

tr,
th,
td {
	border: 1px solid black;
}

td {
	padding-left: 15px;
}

.even-row {
	background-color: #EDEDED !important;
}

.odd-row {
	background-color: #ffffff !important;
}

.opgp-btn,
.swal-button {
	width: 150px;
	padding: 7px;
	background-color: darkorange;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	font-weight: bold;
}

.opgp-btn:hover,
.swal-button:hover {
	width: 150px;
	background-color: white;
	border: 1px solid darkorange;
	color: darkorange;
	cursor: pointer;
}

.swal-text {
	width: 90%;
	text-align: left;
	margin: auto;
	padding: 10px;
	background-color: #EDEDED;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 15px gray inset;
	border-radius: 4px;
}

input[type="password"],
input[type="number"],
input[type="text"] {
	border: 1px solid darkorange;
	border-radius: 5px;
	line-height: 22px;
	margin-top: 5px;
	padding-left: 5px;
}

input[type="search"] {
	margin-bottom: 3px;
}

/* .p-checkbox {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid darkorange;
}
 */

#b-changepwd {
	margin-top: 5px;
}

.swal-overflow {
	height: 250px;
	overflow: auto;
}

.table {
	display: table;
	width: 100%;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
}

label[for="t-changepwd1"],
#t-changepwd1,
#t-changepwd2 {
	margin-top: 4px;
}

label[for="t-changepwd2"] {
	margin-top: 6px;
}


#_details {
	display: none;
}


details {
	margin-top: 10px;
}

details[open] summary:after {
	content: "\25BE";
}

details[open]>div {
	width: 70%;
	/* padding: 5%; */
	margin: auto;
	border: 1px solid black;
	background-color: white;
}

summary {
	display: block;
}

summary::-webkit-details-marker {
	display: none;
}

summary:after {
	background-color: white;
	content: "\25B8";
	color: darkorange;
	border: 1px solid darkorange;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin: -2px 5px 0 0;
	width: 19px;
	line-height: 20px;
}

.shadow {
	-moz-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	display: grid;
}

._summaryInput {
	width: 100%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: black !important;
	border: 1px solid black !important;
	background-color: white !important;
	background: white !important;
	border-radius: 0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: black !important;
	border-radius: 0 !important;
	border: 1px solid black !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
	border: 0 !important;
	background-color: white !important;
	color: #666 !important;
}

#hashtags {
	margin-top: 10px;
	line-height: 45px;
	width: 100%;
}

.hashtag {
	position: relative;
	background-color: darkorange;
	border: 1px solid darkorange;
	color: white;
	cursor: pointer;
	font-weight: bold;
	/*font: 400 13.3333px Arial;*/
	padding: 7px 7px 7px 20px;
	border-radius: 25px 8px 8px 25px;
	display: inline-block;
	margin-left: 12px;
	margin-top: 12px;
	height: 20px;
	line-height: 22px;
	box-shadow: 6px 6px 10px #aaaaaa;
}

.hashtag:hover {
	background-color: white;
	border: 1px solid darkorange;
	color: darkorange;
	cursor: pointer;
}

.hashtag.chosen {
	position: relative;
	background-color: white;
	border: 1px solid darkorange;
	color: darkorange;
	cursor: pointer;
	font-weight: bold;
	/*font: 400 13.3333px Arial;*/
	padding: 7px 7px 7px 20px;
	border-radius: 25px 8px 8px 25px;
	display: inline-block;
	margin-left: 12px;
	margin-top: 12px;
	height: 20px;
	line-height: 22px;
	box-shadow: 6px 6px 10px #aaaaaa;
}
.hashtag:before {
	position: absolute;
	color: gray;
	left: 8px;
	content: "\2022";
}

.selected {
     background-color: darkgray !important;
}