body,
html {
	width: 160px;
	margin: 0;
	padding: 0;
	/* font: 16px Arial; */
}

#container {
	margin: auto;
	padding: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	padding-bottom: 5px;
}

button {
	width: 140px;
	font: 14px Arial;
	white-space: nowrap;
	background-color: darkorange;
	border: 2px solid white;
	border-radius: 5px;
	color: white;
	padding: 3px;
	cursor: pointer;
	margin: auto;
}

#addbookmark:hover:enabled,
#openbookmarks:hover:enabled,
#exportkeys:hover:enabled,
#exportbmks:hover:enabled,
#syncbmks:hover:enabled,
#bkmkbtn:hover:enabled {
	background-color: white;
	color: darkorange;
	border: 2px solid darkorange;
	border-radius: 5px;
}

button:disabled,
button[disabled]:hover {
	background-color: lightgray;
	border: 2px solid white;
	cursor: unset;
}

#bookmark {
	height: 100%;
	width: 100%;
}

#bkmk
#tags,
label[for="bkmk"] {
	display: grid;
}

#bkmkwindow > h4 {
	text-align: center;
}
#bkmk,
#tags {
	width: 305px;
	height: 24px;
	border: 2px solid darkorange;
	border-radius: 5px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 5px;
}

#tags {
	margin-top: 5px;
}

#bkmkbtn {
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 20px;
}